*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(136, 98, 171);
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    background-color: rgba(248, 248, 248, 0.57);
    padding:2rem ;
    display: grid;
      grid-template-rows: repeat(1,1fr);
    border-radius:20px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    margin: 5px;
    background: transparent;
    font-size: 20px;
    color: #030303;
    cursor: pointer;
}
form #display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;;

}
form #display input{
   text-align: right;
   flex :1;
   font-size: 45px;
   box-shadow: none;
    
}
#first{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}
form input #fifth #equal{
    width: 145px;
}